.destaquejr {
    /*background-image: url('https://i.ytimg.com/vi/udasJknTFkU/maxresdefault.jpg');
    /* background-image: url('https://dogeminer2.com/logo_text_2x_720.a146dfd5dc0f8158d8764b3a80bc2828.png'); */
    background-position: top center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: content;
}